@charset "UTF-8";

/* -------------------- 共通部分 -------------------- */

html{
    font-size: 100%;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

/* -------------------- form -------------------- */

.class_login{
    text-align: center;
    margin: 20vh auto 0;
}
.class_radio_login{
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
}
.class_login_text_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    margin-top: 2vh;
}

.class_radio_insert{
    margin-left: 30px;
}
.class_radio_update{
    margin-right: 30px;
}
#id_radio_login1{
width: 1.5rem;
height: 1.5rem;
}
#id_radio_login2{
    width: 1.5rem;
    height: 1.5rem;
}

#id_text_login{
    font-size: 2.5rem;
    font-style: bold;
    border: 5px solid;
    width: 60%;
}
#id_submit_login{
    font-size: 2rem;
    font-style: bold;
    border: 5px solid;
    width: 62%;
    margin-top: 10vh;
}
#id_dummy_text{
    display: none;
}